a:link, a:visited {
	color:blue;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

a:active{
	color:red;
	text-decoration:underline;
}

body{
	font-family: 'Work Sans', sans-serif;
	margin:0 0 0 0;
}

.div-dark{
	/* Temp Placeholder Look */
	background: repeating-linear-gradient(
	135deg,
	rgba(0,0,0,0.8),
	rgba(0,0,0,0.8) 1em,
	rgba(25,25,25,0.8) 1em,
	rgba(25,25,25,0.8) 2em
	);
	color:white;
	/* Temp Placeholder Look End */
	/* background:rgba(0,0,0,1); */
}

.div-light{
	/* Temp Placeholder Look */
	background: repeating-linear-gradient(
	135deg,
	rgba(255,255,255,1),
	rgba(255,255,255,1) 1em,
	rgba(240,240,240,1) 1em,
	rgba(240,240,240,1) 2em
	);
	color:black;
	/* Temp Placeholder Look End */
	/* background:rgba(255,255,255,1); */
}

.dropcontent{
	align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin: 0 0 0 0px;
	max-width:984px;
	width:98%;
}

.dropheading{
	display:flex;
	max-width:1024px;
	width:98%;
}

.horcontent{
	display:flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.normal-text{
	font-size: 1em;
	font-weight:300;
	line-height:1.5em;
	max-width:984px;
	text-align:center;
	margin:0 20px 0 20px;
}

.paper-header{
	align-items:center;
	background-color: rgba(0,0,0,0.8);
	display:flex;
	flex-flow: row nowrap;
	color: white;
	font-weight:300;
	font-size: 1em;
	height:2.71em;
	justify-content:center;
	/* max-width:1024px; */
	width:100%;
	text-transform: initial;
}

.refres li {
	list-style-type: none;
	list-style-position:inside;
	text-align:center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.spacer{
	align: center;
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 2em 0 2em 0;
}

.spacer-half{
	min-width:300px;
	width:50%;
}

.sub-col {
	display:flex;
	font-size:0.75em;
	flex-basis:20%;
	flex-grow:1;
	line-height:1em;
}

.sub-col > ul {
	list-style-type: none;
	text-align:left;
	padding: 0 10px 0 10px;
}

.exp > ul {
	list-style-type: bullet;
	text-align:left;
	padding: 0 10px 0 10px;
}

.sub-title{
	align-items:center;
	font-size:4em;
	font-weight:300;
	/* margin:auto; */
	max-width:984px;
	text-align:center;
	margin:0 20px 0 20px;
}

.sub-text{
	align-items:center;
	font-size:1.5em;
	font-weight:300;
	line-height:1.5em;
	/* margin:auto; */
	max-width:984px;
	text-align:center;
	margin:0 20px 0 20px;
}

.topmenu {
	display:flex; 
	justify-content:space-between;
	margin: 0 20px 0 20px;
	width:984px; 
	min-width: 480px;
}

.topmenu > a:link, .topmenu > a:visited {
	flex:0 1 auto;
	text-decoration:none;
	color: white;
}

.topmenu a:hover{
	color:gray;
}

.topmenu a:active{
	color: red;
}

#video-background {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -100;
  overflow: hidden;
}